html {
  line-height: 1.15;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

input:required,
textarea:required {
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.45;
  font-weight: 400;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

figure {
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

a,
button {
  transition: all 0.2s ease-in-out;
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/barlow/Barlow-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow/Barlow-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/barlow/Barlow-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow/Barlow-Bold.ttf") format("truetype");
}

/* ==================== */

@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/cairo/Cairo-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/cairo/Cairo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/cairo/Cairo-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/cairo/Cairo-Bold.ttf") format("truetype");
}

/* ==================== */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/inter/Inter-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/inter/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/inter/Inter-Bold.ttf") format("truetype");
}

/* ==================== */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
}

/* ==================== */

@font-face {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/mukta/Mukta-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/mukta/Mukta-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/mukta/Mukta-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/mukta/Mukta-Bold.ttf") format("truetype");
}

/* ==================== */

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/nunito/Nunito-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/nunito/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/nunito/Nunito-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/nunito/Nunito-Bold.ttf") format("truetype");
}

/* ==================== */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

/* ==================== */

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/quicksand/Quicksand-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/quicksand/Quicksand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/quicksand/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/quicksand/Quicksand-Bold.ttf") format("truetype");
}

/* ==================== */

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/raleway/Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/raleway/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/raleway/Raleway-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway/Raleway-Bold.ttf") format("truetype");
}

/* ==================== */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

/* ==================== */

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/rubik/Rubik-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/rubik/Rubik-Bold.ttf") format("truetype");
}

/* ==================== */

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/ubuntu/Ubuntu-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/ubuntu/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype");
}

/* ==================== */

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/urbanist/Urbanist-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/urbanist/Urbanist-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/urbanist/Urbanist-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/urbanist/Urbanist-Bold.ttf") format("truetype");
}

/* ==================== */

@font-face {
  font-family: "Georama";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/georama/Georama-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Georama";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/georama/Georama-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Georama";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/georama/Georama-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Georama";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/georama/Georama-Bold.ttf") format("truetype");
}

/* ==================== */

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/oswald/Oswald-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/oswald/Oswald-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/oswald/Oswald-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/oswald/Oswald-Bold.ttf") format("truetype");
}
